/* Reusable underline animation base */
.underlineBase {
  position: relative;
}

.underlineBase::after, .underlinePrimary::after, .underlineSecondary::after, .underlineAccent::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 13%;
  width: 74%;
  height: 2px;
  background: linear-gradient(90deg, var(--transition-color, var(--underline-color)) 0%, var(--transition-color, var(--underline-color)) 50%, var(--underline-color) 50%, var(--underline-color) 100%);
  background-position: 100% 0;
  background-size: 200% 100%;
  transition: background-position 0.3s ease-out;
}

.underlineBase:hover::after,
.underlinePrimary:hover::after,
.underlineSecondary:hover::after,
.underlineAccent:hover::after {
  background-position: 0 0;
}

/* Color variants */
.underlinePrimary::after {
  --transition-color: var(--primary);
}

.underlineSecondary::after {
  --transition-color: var(--secondary);
}

.underlineAccent::after {
  --transition-color: var(--accent);
}
